<!DOCTYPE html>
<html lang="es">
<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
</head>

<body background="">
    <div class="texto">
        <header class="header">
            <h1>Ornitorrinco</h1>
        </header>
        <nav class="nav">
            <ul>
            </ul>
        </nav>  
        <section class="seccion">
            <article>
                <hgroup>
                    <h1>Que son los ornitorrinco</h1>
                    <p>El ornitorrinco (Ornithorhynchus anatinus) es una especie de mamífero semiacuático endémico del este de Australia y de la isla de Tasmania. Es una de las cinco especies —junto con las cuatro de equidna— que perviven en la actualidad del orden de los monotremas, grupo que reúne a los únicos mamíferos actuales que ponen huevos en lugar de dar a luz crías vivas. Es el único representante vivo de la familia Ornithorhynchidae y del género Ornithorhynchus.</p>
                </hgroup>
                <time</time>
    
                <p></p>
                <footer>
                </footer>
            </article>
            <article>
                <hgroup>
                    <h1>Habitas</h1>
                    <p>Estos animales son semiacuáticos, de manera que viven tanto en el agua como en la tierra. Sus hábitats suelen ser ríos y riachuelos de pequeño tamaño diseminados por diversos tipos de ecosistemas. Estos ríos se encuentran dispersos por las extensas selvas tropicales de Queensland, pero también en climas fríos, como las montañas de los Alpes australianos o la región de Tasmania, montañosa y de clima frío. Recordemos que el ornitorrinco es uno de los animales de Australia, es por ello que su hábitat se encuentra únicamente aquí.

                        Anteriormente, existían poblaciones de ornitorrincos en Australia Meridional, pero estas fueron reduciéndose hasta llegar a su extinción. En esta zona solo sobrevive una reducida población en la isla Canguro.
                        
                        En estos lugares, los ornitorrincos excavan madrigueras, semejantes a las de un castor, que son acuáticas, es decir, están bajo el agua, pero sin embargo tienen un fácil acceso al exterior. En estas madrigueras es donde las madres ornitorrinco tienen a sus crías y donde permanecen tras haber nacido durante un tiempo, como hablamos en el apartado de reproducción.
                        
                        </p>
                </hgroup>
                
                <time</time>
                
                <p></p>
                <footer>
                </footer>
            </article>
        </section>
        <aside class="aside">
            <blockquote>
                <p><a href="">Aqui esta el codigo de la pagina.</a></p>
            </blockquote>
            <blockquote>
              <p><a href="https://github.com/Sebas-Carrera">Mi GitHub</a></p>
            </blockquote>
        </aside>
        <footer class="pie">
            Derechos Reservados 2021-2021
        </footer>
    </div>
</body>
</html>
